<!--NavBar-->
<nav class="navbar navbar-light sticky-top" style="background-color:white; border-bottom:1px solid #cccccc">
  <div class="container d-flex justify-content-end">
    <div class="mr-auto p-2">
      <a class="navbar-brand" href="/">
        <span class="align-middle"><img src="/assets/insta_icon.png" width="30" height="30" class="d-inline-block align-top" alt=""></span>
        <span class="align-middle" style="font-family: 'Indie Flower', cursive; font-weight:bold">Hyubstagram</span>
      </a>
    </div>
    <div class="p-2">
      <a class="navbar-brand" href="/posts/new" title="글쓰기">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="p-2">
      <a class="navbar-brand" href="#" title="정보보기(구현x)">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>